# Build tools for building and distributing the package.
build


# Type checking, code formatting and documentation checking.
black == 22.12.0
docformatter == 1.5.1
mypy == 1.1.1
pylint == 2.17.0
ruff == 0.0.257


# Code safety and dependency vulnerability checking.
bandit == 1.7.5
safety == 2.3.5


# Frameworks for testing the code.
pytest == 7.2.2


# Pre-commit hooks; tasks that need to run before each commit.
pre-commit == 3.2.0
